html {
  max-width:100%;
  overflow-x:hidden;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#container {
  height: 100%;
  width: 100%;
  position: relative;
}

@media (max-height: 1200px) {
  #container {
    height: 500px;
  }
}

#legend {
  font-family: "Playfair Display";
  padding: 6px 8px;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 200px;
}

#legend h5 {
  font-size: 1em;
}

#legend span {
  /* font-family: "Poppins"; */
  width: 20px;
  height: 20px;
  float: left;
  margin: 12px 10px 4px 0px;
}

#legend label {
  font-size: 0.8em;
  font-family: "Poppins";
  /* padding:  */
}

#legend label:after {
  content: '';
  display: block;
  clear: both;
}
