html, body {
  max-width:100%;
  overflow-x:hidden;
  height:100%;
}

h1 {
  text-shadow: 2px 2px #ffff00;
  font-family: "Avenir";
  font-size: 6em;
}

#mapTitle {
  height: 100px;
  width: 100px;
  position: relative;
}

#map {
  position: fixed;
  top: 1;
  bottom: 1;
  width: 100%;
  height: 80%;
}

#container {
  height: 600px;
  width: 100%;
  position: relative;
}

@media (max-height: 1200px) {
  #container {
    height: 500px;
  }
}

#legend {
  /* font-family: "Playfair Display"; */
  padding: 16px 18px;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 200px;
}

#legend h5 {
  font-size: 1em;
  font-family: "Avenir";
  text-shadow: 2px 2px #ffff00;
}

#legend span {
  font-family: "Avenir";
  width: 20px;
  height: 20px;
  float: left;
  margin: 12px 10px 4px 0px;
}

#legend label {
  font-size: 1em;
  font-family: "Avenir";
  /* font-family: "Poppins"; */
}

#legend label:after {
  content: '';
  display: block;
  clear: both;
}
